Front-End_Modules/FDRS_Node_Red.json
[{"id":"5cecbba7.76e824","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"7c5e340c.c4c98c","type":"serial in","z":"5cecbba7.76e824","name":"theSerial","serial":"8156709b.d14ca","x":80,"y":180,"wires":[["eedd0f6e.e42ae","26b1c56a.3d091a"]]},{"id":"2569fe1f.677fe2","type":"debug","z":"5cecbba7.76e824","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":530,"y":60,"wires":[]},{"id":"7cdd5e4c.58943","type":"json","z":"5cecbba7.76e824","name":"","property":"payload","action":"obj","pretty":false,"x":370,"y":180,"wires":[["cf37c60e.e79898"]]},{"id":"eedd0f6e.e42ae","type":"function","z":"5cecbba7.76e824","name":"removeTilda","func":"msg.payload = msg.payload.replace (\"~\", \"\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":230,"y":180,"wires":[["7cdd5e4c.58943"]]},{"id":"26b1c56a.3d091a","type":"debug","z":"5cecbba7.76e824","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":230,"y":140,"wires":[]},{"id":"cf37c60e.e79898","type":"split","z":"5cecbba7.76e824","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":490,"y":180,"wires":[["2569fe1f.677fe2","8eb17b01.8c8c78","6eb1b580.c3ca2c"]]},{"id":"6075fdf.fc49304","type":"change","z":"5cecbba7.76e824","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.data","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":240,"wires":[["a6f544df.e47dd8"]]},{"id":"a6f544df.e47dd8","type":"thingspeak42","z":"5cecbba7.76e824","d":true,"name":"","delay":"15","topic1":"1","topic2":"2","topic3":"3","topic4":"","topic5":"","topic6":"","topic7":"","topic8":"","endpoint":"https://thingspeak.com","x":1130,"y":240,"wires":[]},{"id":"a8c9a610.cf10d8","type":"change","z":"5cecbba7.76e824","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"payload.type","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":240,"wires":[["6075fdf.fc49304"]]},{"id":"8eb17b01.8c8c78","type":"switch","z":"5cecbba7.76e824","name":"","property":"payload.id","propertyType":"msg","rules":[{"t":"eq","v":"3","vt":"str"},{"t":"eq","v":"5","vt":"str"},{"t":"eq","v":"4","vt":"str"},{"t":"eq","v":"6","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":610,"y":180,"wires":[["f62d8fc0.6c2f9","a8c9a610.cf10d8"],["8f9319c2.974ce8"],["a8c9a610.cf10d8"],[]]},{"id":"98add17e.11911","type":"change","z":"5cecbba7.76e824","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.data","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":100,"wires":[["1f110744.064039"]]},{"id":"f62d8fc0.6c2f9","type":"change","z":"5cecbba7.76e824","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":80,"wires":[["98add17e.11911"]]},{"id":"8f9319c2.974ce8","type":"change","z":"5cecbba7.76e824","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":120,"wires":[["98add17e.11911"]]},{"id":"f3a28ed.f9c9f7","type":"ui_chart","z":"5cecbba7.76e824","name":"","group":"361e2c11.6c24e4","order":1,"width":"10","height":"5","label":"Last Hour","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"32","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#ff0000","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1260,"y":80,"wires":[[]]},{"id":"b1b9d862.6f9858","type":"ui_chart","z":"5cecbba7.76e824","name":"","group":"361e2c11.6c24e4","order":1,"width":"10","height":"5","label":"Last Day","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"32","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#ff0000","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1260,"y":120,"wires":[[]]},{"id":"1f110744.064039","type":"function","z":"5cecbba7.76e824","name":"C to F","func":"msg.payload = (msg.payload * 9 / 5) + 32;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1130,"y":100,"wires":[["f3a28ed.f9c9f7","b1b9d862.6f9858"]]},{"id":"6eb1b580.c3ca2c","type":"csv","z":"5cecbba7.76e824","name":"","sep":",","hdrin":"","hdrout":"none","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":530,"y":340,"wires":[["9b95abd4.ceae08"]]},{"id":"9b95abd4.ceae08","type":"file","z":"5cecbba7.76e824","name":"","filename":"/home/timm/FDRS_logfile.csv","appendNewline":false,"createDir":false,"overwriteFile":"false","encoding":"none","x":730,"y":340,"wires":[["3ed03598.a9d2aa"]]},{"id":"3ed03598.a9d2aa","type":"debug","z":"5cecbba7.76e824","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":950,"y":340,"wires":[]},{"id":"8156709b.d14ca","type":"serial-port","serialport":"/dev/ttyUSB0","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"~","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"5","bin":"false","out":"interbyte","addchar":"","responsetimeout":"10000"},{"id":"361e2c11.6c24e4","type":"ui_group","name":"Temps","tab":"8a89d1e.eb12c3","order":1,"disp":true,"width":"10","collapse":false},{"id":"8a89d1e.eb12c3","type":"ui_tab","name":"Farm Data Relay System","icon":"dashboard","order":1,"disabled":false,"hidden":false}]
