FDRS_NodeRed.json
[{"id":"d7346a99.716ef8","type":"tab","label":"SerialToSD","disabled":false,"info":""},{"id":"5ef9396d.34b028","type":"tab","label":"Deliver to UI","disabled":false,"info":""},{"id":"e5b724b.60c46d8","type":"tab","label":"Inputs","disabled":false,"info":""},{"id":"8156709b.d14ca","type":"serial-port","serialport":"/dev/ttyS0","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"10","bin":"false","out":"interbyte","addchar":"\\n","responsetimeout":"0"},{"id":"361e2c11.6c24e4","type":"ui_group","name":"Temperature","tab":"8a89d1e.eb12c3","order":1,"disp":true,"width":"6","collapse":true},{"id":"8a89d1e.eb12c3","type":"ui_tab","name":"Farm Data Relay System","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"76a71462.920bec","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"962d3a3f.35afd8","type":"ui_group","name":"Soil","tab":"8a89d1e.eb12c3","order":2,"disp":true,"width":"6","collapse":true},{"id":"55f1d303.635d8c","type":"ui_group","name":"Humidity","tab":"8a89d1e.eb12c3","order":3,"disp":true,"width":"6","collapse":true},{"id":"e77451fe.0180a","type":"ui_group","name":"Rainfall","tab":"8a89d1e.eb12c3","order":4,"disp":true,"width":"6","collapse":true},{"id":"40182a99.54edc4","type":"ui_tab","name":"Input","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"94f4bc6.b24414","type":"ui_group","name":"Lights","tab":"40182a99.54edc4","order":1,"disp":true,"width":6,"collapse":false},{"id":"45bae79e.3ace58","type":"ui_spacer","name":"spacer","group":"94f4bc6.b24414","order":8,"width":6,"height":1},{"id":"d859a9f.3225558","type":"ui_spacer","name":"spacer","group":"94f4bc6.b24414","order":11,"width":6,"height":1},{"id":"6c92fc49.eeb7a4","type":"ui_spacer","name":"spacer","group":"94f4bc6.b24414","order":13,"width":4,"height":1},{"id":"6e08a81e.d1f408","type":"ui_spacer","name":"spacer","group":"94f4bc6.b24414","order":14,"width":4,"height":1},{"id":"d2d2ab66.7943d8","type":"serial in","z":"d7346a99.716ef8","name":"theSerial","serial":"8156709b.d14ca","x":160,"y":340,"wires":[["ea7dbd28.df7d8","6ba458b0.25c5c8"]]},{"id":"6ba458b0.25c5c8","type":"json","z":"d7346a99.716ef8","name":"","property":"payload","action":"obj","pretty":false,"x":450,"y":340,"wires":[["a9247a8d.828778"]]},{"id":"ea7dbd28.df7d8","type":"debug","z":"d7346a99.716ef8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":470,"y":280,"wires":[]},{"id":"a9247a8d.828778","type":"split","z":"d7346a99.716ef8","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":570,"y":340,"wires":[["f533a83e.26a6f8","fdcc65f2.9cf5c8"]]},{"id":"c0add4d8.4c6658","type":"switch","z":"5ef9396d.34b028","name":"","property":"payload.type","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"5","vt":"str"},{"t":"eq","v":"7","vt":"str"},{"t":"eq","v":"8","vt":"str"},{"t":"eq","v":"50","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":7,"x":132,"y":340,"wires":[["deed5650.b4a318"],["59bf8bc4.b645c4"],["1b013420.7c2d3c"],["23fcee3c.871a12"],["6160c5f4.95c73c","fdfb9e9c.53789"],["4c4a605e.a414f"],[]]},{"id":"526ac2e5.922fac","type":"ui_chart","z":"5ef9396d.34b028","name":"LastHrT","group":"361e2c11.6c24e4","order":3,"width":6,"height":4,"label":"Last Hour","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#ff0000","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1040,"y":100,"wires":[[]]},{"id":"6c4b2e14.a494d","type":"ui_chart","z":"5ef9396d.34b028","name":"LastDayT","group":"361e2c11.6c24e4","order":4,"width":6,"height":4,"label":"Last Day","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"32","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#ff0000","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1040,"y":140,"wires":[[]]},{"id":"de1195c0.82bad8","type":"function","z":"5ef9396d.34b028","name":"C to F","func":"msg.payload = (msg.payload * 9 / 5) + 32;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":732,"y":160,"wires":[["526ac2e5.922fac","6c4b2e14.a494d","38a07002.20c8","5630ea22.457844"]]},{"id":"4651b5e8.d05c8c","type":"ui_gauge","z":"5ef9396d.34b028","name":"","group":"361e2c11.6c24e4","order":2,"width":3,"height":3,"gtype":"gage","title":"Temp2","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1050,"y":60,"wires":[]},{"id":"7e5d6dcc.bba634","type":"ui_gauge","z":"5ef9396d.34b028","name":"","group":"361e2c11.6c24e4","order":1,"width":3,"height":3,"gtype":"gage","title":"Temp1","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1050,"y":20,"wires":[]},{"id":"38a07002.20c8","type":"switch","z":"5ef9396d.34b028","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":872,"y":100,"wires":[["7e5d6dcc.bba634"],["4651b5e8.d05c8c"],[]]},{"id":"5630ea22.457844","type":"ui_chart","z":"5ef9396d.34b028","name":"LastWkT","group":"361e2c11.6c24e4","order":5,"width":6,"height":4,"label":"Last Wk","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"32","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#ff0000","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1040,"y":180,"wires":[[]]},{"id":"84886cd0.07671","type":"ui_chart","z":"5ef9396d.34b028","name":"LastHrS","group":"962d3a3f.35afd8","order":3,"width":6,"height":4,"label":"Last Hour","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#ff0000","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1038,"y":460,"wires":[[]]},{"id":"58eddf7d.2b5d7","type":"ui_chart","z":"5ef9396d.34b028","name":"LastDayS","group":"962d3a3f.35afd8","order":4,"width":6,"height":4,"label":"Last Day","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#ff0000","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1038,"y":500,"wires":[[]]},{"id":"2ef691e5.f7a24e","type":"ui_chart","z":"5ef9396d.34b028","name":"LastWkS","group":"962d3a3f.35afd8","order":5,"width":6,"height":4,"label":"Last Wk","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#ff0000","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1038,"y":540,"wires":[[]]},{"id":"f72f65.fd4a6098","type":"ui_gauge","z":"5ef9396d.34b028","name":"","group":"962d3a3f.35afd8","order":2,"width":3,"height":3,"gtype":"gage","title":"Soil2","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1048,"y":640,"wires":[]},{"id":"21a5939b.d1910c","type":"ui_gauge","z":"5ef9396d.34b028","name":"","group":"962d3a3f.35afd8","order":1,"width":3,"height":3,"gtype":"gage","title":"Soil1","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1048,"y":600,"wires":[]},{"id":"1eeab280.51518e","type":"switch","z":"5ef9396d.34b028","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"51","vt":"str"},{"t":"eq","v":"52","vt":"str"},{"t":"eq","v":"53","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":590,"y":460,"wires":[["21a5939b.d1910c"],["f72f65.fd4a6098"],[]]},{"id":"68e58ae7.2870b4","type":"ui_chart","z":"5ef9396d.34b028","name":"LastHrH","group":"55f1d303.635d8c","order":1,"width":6,"height":4,"label":"Last Hour","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#ff0000","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1040,"y":240,"wires":[[]]},{"id":"4a3a581d.648758","type":"ui_chart","z":"5ef9396d.34b028","name":"LastDayH","group":"55f1d303.635d8c","order":2,"width":6,"height":4,"label":"Last Day","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"32","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#ff0000","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1040,"y":280,"wires":[[]]},{"id":"741322ae.25af2c","type":"ui_chart","z":"5ef9396d.34b028","name":"LastWkH","group":"55f1d303.635d8c","order":3,"width":6,"height":4,"label":"Last Wk","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#ff0000","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1040,"y":320,"wires":[[]]},{"id":"23fcee3c.871a12","type":"switch","z":"5ef9396d.34b028","name":"","property":"$globalContext(\"set_next_zero\")\t","propertyType":"jsonata","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":392,"y":300,"wires":[["172d89b9.1ee196"],["73f08a48.cae9b4"]]},{"id":"73f08a48.cae9b4","type":"change","z":"5ef9396d.34b028","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"( payload.data - $globalContext(\"zero_set\")\t)* 0.012","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":340,"wires":[["4a28a50b.986adc","3b6e9207.87921e"]]},{"id":"172d89b9.1ee196","type":"change","z":"5ef9396d.34b028","name":"Set Zero","rules":[{"t":"set","p":"zero_set","pt":"global","to":"payload.data","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":300,"wires":[["d87402ef.6706e"]]},{"id":"d87402ef.6706e","type":"change","z":"5ef9396d.34b028","name":"Drop Flag","rules":[{"t":"set","p":"set_next_zero","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":300,"wires":[["73f08a48.cae9b4"]]},{"id":"4a28a50b.986adc","type":"ui_text","z":"5ef9396d.34b028","group":"e77451fe.0180a","order":1,"width":5,"height":1,"name":"","label":"Rainfall:","format":"{{msg.payload}}","layout":"row-spread","x":1040,"y":360,"wires":[]},{"id":"6160c5f4.95c73c","type":"debug","z":"5ef9396d.34b028","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":410,"y":560,"wires":[]},{"id":"fdfb9e9c.53789","type":"change","z":"5ef9396d.34b028","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"payload.id","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":520,"wires":[["5e8f4f84.ca25e"]]},{"id":"5e8f4f84.ca25e","type":"change","z":"5ef9396d.34b028","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":520,"wires":[[]]},{"id":"c9d92acd.3653c8","type":"ui_chart","z":"5ef9396d.34b028","name":"","group":"e77451fe.0180a","order":3,"width":6,"height":14,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"1","removeOlder":"12","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1030,"y":400,"wires":[[]]},{"id":"3b6e9207.87921e","type":"change","z":"5ef9396d.34b028","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"payload.id","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":380,"wires":[["c9d92acd.3653c8"]]},{"id":"f533a83e.26a6f8","type":"link out","z":"d7346a99.716ef8","name":"","links":["298be74c.1c6398"],"x":675,"y":260,"wires":[]},{"id":"298be74c.1c6398","type":"link in","z":"5ef9396d.34b028","name":"","links":["f533a83e.26a6f8"],"x":37,"y":340,"wires":[["c0add4d8.4c6658","1e441970.75c007"]]},{"id":"49bbaf0e.a5cb2","type":"file","z":"d7346a99.716ef8","d":true,"name":"","filename":"/home/pi/THE_LOGS/logfile.csv","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":1170,"y":340,"wires":[[]]},{"id":"df9c3f52.997e3","type":"csv","z":"d7346a99.716ef8","name":"","sep":",","hdrin":true,"hdrout":"none","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":950,"y":340,"wires":[["49bbaf0e.a5cb2"]]},{"id":"fdcc65f2.9cf5c8","type":"change","z":"d7346a99.716ef8","name":"","rules":[{"t":"set","p":"payload.time","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":340,"wires":[["df9c3f52.997e3"]]},{"id":"1e441970.75c007","type":"debug","z":"5ef9396d.34b028","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":190,"y":80,"wires":[]},{"id":"4c4a605e.a414f","type":"change","z":"5ef9396d.34b028","name":"Set payload & topic","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.data","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"payload.id","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":620,"wires":[["8ee9e909.8cfc58"]]},{"id":"8ee9e909.8cfc58","type":"ui_chart","z":"5ef9396d.34b028","d":true,"name":"","group":"94f4bc6.b24414","order":15,"width":6,"height":6,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"2500","ymax":"4300","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#fff700","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1050,"y":680,"wires":[[]]},{"id":"cbfb92eb.866d4","type":"inject","z":"5ef9396d.34b028","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[]","payloadType":"json","x":410,"y":660,"wires":[["8ee9e909.8cfc58"]]},{"id":"1b013420.7c2d3c","type":"change","z":"5ef9396d.34b028","name":"Set payload & topic","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.data","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"payload.id","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":380,"wires":[["84886cd0.07671","58eddf7d.2b5d7","2ef691e5.f7a24e","1eeab280.51518e"]]},{"id":"59bf8bc4.b645c4","type":"change","z":"5ef9396d.34b028","name":"Set payload & topic","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.data","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"payload.id","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":220,"wires":[["68e58ae7.2870b4","4a3a581d.648758","741322ae.25af2c"]]},{"id":"deed5650.b4a318","type":"change","z":"5ef9396d.34b028","name":"Set payload & topic","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.data","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"payload.id","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":160,"wires":[["de1195c0.82bad8"]]},{"id":"a61cfaa9.36f268","type":"ui_button","z":"5ef9396d.34b028","name":"reset rain","group":"e77451fe.0180a","order":2,"width":1,"height":1,"passthru":false,"label":"Reset","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":80,"y":500,"wires":[["836eacd6.9c306"]]},{"id":"836eacd6.9c306","type":"change","z":"5ef9396d.34b028","name":"","rules":[{"t":"set","p":"set_next_zero","pt":"global","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":150,"y":540,"wires":[[]]}]