NodeRed-Basic.json
[
    {
        "id": "50576564d335c94e",
        "type": "serial in",
        "z": "16de441874aa4f93",
        "name": "",
        "serial": "28b50d80ca472397",
        "x": 290,
        "y": 180,
        "wires": [
            [
                "d37cc2ba2ff7ac08"
            ]
        ]
    },
    {
        "id": "d37cc2ba2ff7ac08",
        "type": "json",
        "z": "16de441874aa4f93",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 410,
        "y": 180,
        "wires": [
            [
                "bc15f65010c24bee"
            ]
        ]
    },
    {
        "id": "bc15f65010c24bee",
        "type": "split",
        "z": "16de441874aa4f93",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 540,
        "y": 180,
        "wires": [
            [
                "f26e4e83b78528e7"
            ]
        ]
    },
    {
        "id": "f26e4e83b78528e7",
        "type": "debug",
        "z": "16de441874aa4f93",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 120,
        "wires": []
    },
    {
        "id": "37b6cc57f9319085",
        "type": "json",
        "z": "16de441874aa4f93",
        "name": "",
        "property": "payload",
        "action": "str",
        "pretty": false,
        "x": 410,
        "y": 320,
        "wires": [
            [
                "56f537d8973159f6",
                "585cb30b37620cb6"
            ]
        ]
    },
    {
        "id": "56f537d8973159f6",
        "type": "serial out",
        "z": "16de441874aa4f93",
        "name": "",
        "serial": "28b50d80ca472397",
        "x": 560,
        "y": 320,
        "wires": []
    },
    {
        "id": "585cb30b37620cb6",
        "type": "debug",
        "z": "16de441874aa4f93",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 380,
        "wires": []
    },
    {
        "id": "28b50d80ca472397",
        "type": "serial-port",
        "serialport": "COM13",
        "serialbaud": "115200",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "/n",
        "responsetimeout": "10000"
    }
]